In [1]:
import pandas as pd
import numpy as np

In [2]:
classifications = [
        'Action',
        'Adventure',
        'Animation',
        'Childrens',
        'Comedy',
        'Crime',
        'Documentary',
        'Drama',
        'Fantasy',
        'Film-Noir',
        'Horror',
        'Musical',
        'Mystery',
        'Romance',
        'Sci-Fi',
        'Thriller',
        'War',
        'Western'
]

In [3]:
f = {
    'user': [ 
        'user id', 
        'age', 
        'gender', 
        'occupation', 
        'zip code' 
    ],
    'data': [ 
        'user id', 
        'movie id', 
        'rating', 
        'timestamp' 
    ],
    'item': [
        'movie id',
        'movie title',
        'release date',
        'vdeo release date',
        'IMDb URL',
        'unknown',
        'Action',
        'Adventure',
        'Animation',
        'Childrens',
        'Comedy',
        'Crime',
        'Documentary',
        'Drama',
        'Fantasy',
        'Film-Noir',
        'Horror',
        'Musical',
        'Mystery',
        'Romance',
        'Sci-Fi',
        'Thriller',
        'War',
        'Western'
    ]
}

users, items, data = [
    pd.read_csv('ml-100k/u.' + x, sep='|' if x != 'data' else '\t', names=f[x], encoding='latin-1') 
        for x in [ 'user', 'item', 'data' ]
]

In [4]:
items.tail()

,movie id,movie title,release date,vdeo release date,IMDb URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def __similaridade(u,v):
    return (u @ v) / ((np.linalg.norm(u)) * (np.linalg.norm(v)))

In [6]:
movie = items.iloc[0][classifications]

In [7]:
def create_reducer(u):
    def reducer(v):
        return __similaridade(u,v)
    return reducer

res = items[classifications].apply(create_reducer(movie), axis=1)
res = res.sort_values(ascending=False, axis=0)

/home/aluno/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [8]:
res.head()

0       1.000000
421     1.000000
94      0.866025
1218    0.866025
188     0.816497
dtype: float64

In [9]:
for i in range(10):
    print(items.iloc[res.index[i+1]]['movie title'])

Aladdin and the King of Thieves (1996)
Aladdin (1992)
Goofy Movie, A (1995)
Grand Day Out, A (1992)
Air Bud (1997)
George of the Jungle (1997)
Santa Clause, The (1994)
Little Big League (1994)
Heavyweights (1994)
Land Before Time III: The Time of the Great Giving (1995) (V)

In [10]:
df = pd.DataFrame(index = users['user id'], columns=items['movie id']).fillna(0)
for (user, movie, rating, timestamp) in data.values:
    df[movie][user] = rating

In [11]:
f,u = 1673,115

user = df.iloc[u]
tmp = df.drop(u)

In [12]:
def probabilidade(avaliacoes, similaridades):
    return sum(avaliacoes * similaridades) / sum(similaridades)

In [13]:
similaridades = tmp.apply(create_reducer(user), axis=1)

In [17]:
avaliacoes = tmp[f]

probabilidade(avaliacoes, similaridades)

0.002676476636004979